@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #0f2027; /* fallback for old browsers */
  background: linear-gradient(180deg, #050d14 0%, #2e6d81 100%);
  min-height: 100vh;
}
